<div class="padding" ng-controller="SettingsController">

  <super-navbar>
    <super-navbar-title>
      Hungry Einstein
    </super-navbar-title>
  </super-navbar>

  <h3>Find some food</h3>

  <p>Smart and hungry? View these listings to tutor for food.</p>

  <h2>I <span class="assertive">&lt;3</span>...</h2>

  <ul class="list">
    <li>list1</l1>
    <li>list2</l1>
    <li>list3</l1>
    <li>list4</l1>
  </ul>

<!--   <p>
    Discover more CSS components and Supersonic awesomeness at <a onclick="supersonic.app.openURL('http://docs.appgyver.com')" href="#">http://docs.appgyver.com</a>
  </p> -->

</div>
