<div class="padding" ng-controller="SettingsController">

  <super-navbar>
    <super-navbar-title>
      Find an Einstein
    </super-navbar-title>
  </super-navbar>

  <h3>Borrow some brainpower</h3>

  <p>Got food? Post a listing and find an Einstein</p>

  <h2>Form</h2>
<form> <!-- action="action_page.php"> -->
  First name:<br>
  <input type="text" name="firstname" value="Mickey"><br>
  Last name:<br>
  <input type="text" name="lastname" value="Mouse"><br><br>
  <input type="submit" value="Submit">
</form>

</div>
